server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/test6
    username: postgres
    password: supersecret
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: mysupersecretkey123456789
  expiration: 86400000
  