server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/test6
    username: postgres
    password: supersecret

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

jwt:
  secret: mysupersecretkey123
  expiration: 86400000
